<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config testing 123 youssef
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="path" value="ftp://10.60.201.33/" />
    <add key="backup_path" value="d:\db_backup\" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="SMTP_Port" value="25" />
    <add key="SMTP_Host" value="mailout.mcit.gov.eg" />
    <add key="SMTP_UserName" value="mosalama@mcit.gov.eg" />
    <add key="SMTP_Password" value="P@ssw0rd" />
    <add key="SMTP_FromAddress" value="inboxarchiving@mcit.gov.eg" />
    <add key="login_attempts" value="5" />
    <add key="InsideMCIT" value="1" />
    <add key="ProjectNotification_highManagment" value="mosalama@mcit.gov.eg=hdarwish@mcit.gov.eg=yyoussef@mcit.gov.eg" />
    <add key="days_before_vacation" value="2" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=10.100.121.22;Initial Catalog=Projects_Management;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
   <!--<add name="ConnectionString" connectionString="Data Source=10.100.121.22;Initial Catalog=Projects_Management_TEDATA;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />-->

    <add name="Projects_ManagementConnectionString" connectionString="Data Source=10.100.121.22;Initial Catalog=Projects_Management;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Data Source=10.210.200.49;Initial Catalog=Projects_Management;Persist Security Info=True;User ID=promanage;Password=AlkatoMania" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.60.202.42;Initial Catalog=Projects_Management;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->
    <!--  <add name="ConnectionString" connectionString="Data Source=m218-dina;Initial Catalog=Project_management_TEDATA;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="ConnectionString" connectionString="Data Source=10.60.201.33;Initial Catalog=pms_tedata_online;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->
    <add name="Projects_ManagementEntities9" connectionString="metadata=res://*/App_Code.GeneralModel.csdl|res://*/App_Code.GeneralModel.ssdl|res://*/App_Code.GeneralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.121.22;initial catalog=Projects_Management_TEDATA;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Projects_ManagementEntities10" connectionString="metadata=res://*/App_Code.Commission.csdl|res://*/App_Code.Commission.ssdl|res://*/App_Code.Commission.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.121.22;initial catalog=Projects_Management_TEDATA;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Projects_ManagementEntities" connectionString="metadata=res://*/App_Code.GeneralModel.csdl|res://*/App_Code.GeneralModel.ssdl|res://*/App_Code.GeneralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.121.22;initial catalog=Projects_Management_TEDATA;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validation="3DES" />
    <!--<httpCookies requireSSL="true"/>-->
    <httpRuntime executionTimeout="300" maxRequestLength="2097151" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <!--<add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.SqlServer.SmoExtended, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.SqlServer.SqlClrProvider, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors mode="Off" defaultRedirect="ErrorPages.aspx" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <httpErrors>
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="400" prefixLanguageFilePath="" path="/Default.aspx" responseMode="Redirect" />
      <error statusCode="401" prefixLanguageFilePath="" path="/Default.aspx" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="/Default.aspx" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Default.aspx" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="/Default.aspx" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>