drop table Admin_Page
drop table Admin_ModulePage

GO
/****** Object:  Table [dbo].[Admin_Page]    Script Date: 12/15/2013 14:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Page](
	[pk_ID] [bigint] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Active] [bit] NULL,
	[PageFile] [nvarchar](500) NULL,
 CONSTRAINT [PK_Admin_Page] PRIMARY KEY CLUSTERED 
(
	[pk_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin_Page] ([pk_ID], [Name], [Active], [PageFile]) VALUES (1, N'ملفات', 1, N'FDocuments.aspx')
INSERT [dbo].[Admin_Page] ([pk_ID], [Name], [Active], [PageFile]) VALUES (2, N'بحث في ملفات', 1, N'File_Search.aspx')
INSERT [dbo].[Admin_Page] ([pk_ID], [Name], [Active], [PageFile]) VALUES (3, N'الخطابات الواردة', 1, N'Project_Inbox.aspx')

/****** Object:  Table [dbo].[Admin_ModulePage]    Script Date: 12/15/2013 14:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_ModulePage](
	[pk_ID] [int] NOT NULL,
	[fk_PageID] [int] NULL,
	[fk_ModuleID] [int] NULL,
 CONSTRAINT [PK_Admin_ModulePage] PRIMARY KEY CLUSTERED 
(
	[pk_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin_ModulePage] ([pk_ID], [fk_PageID], [fk_ModuleID]) VALUES (3, 1, 12)
INSERT [dbo].[Admin_ModulePage] ([pk_ID], [fk_PageID], [fk_ModuleID]) VALUES (4, 2, 12)
INSERT [dbo].[Admin_ModulePage] ([pk_ID], [fk_PageID], [fk_ModuleID]) VALUES (5, 3, 2)
